<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.omts.imanzarrabian.toggl</string>
	<key>category</key>
	<string>Dev</string>
	<key>connections</key>
	<dict>
		<key>069BD230-B49B-495E-9906-2517ECEE6D52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5C1F716-7FF0-4561-AC79-93F98B216E52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9CE58C59-79A5-419A-A323-EA3A31962E7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F082C922-DEF3-445B-857D-EC6AD6F3ED75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A1C31C79-1D85-4391-975E-71F44E6E3A2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63B7118D-23F4-4575-94EC-E35E6D0AEADF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B4280A34-EBF1-4D4D-BAAE-5310D40C2F12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CE58C59-79A5-419A-A323-EA3A31962E7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C5C1F716-7FF0-4561-AC79-93F98B216E52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F387EF65-25CD-41D3-A1FD-31C062DF0AB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Iman Zarrabian</string>
	<key>description</key>
	<string>Toggl time tracker helper in Python</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggl Entries</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python toggltimer.py "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9CE58C59-79A5-419A-A323-EA3A31962E7B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading projects...</string>
				<key>script</key>
				<string>python toggl.py "{query}"</string>
				<key>subtext</key>
				<string>create your daily time entries</string>
				<key>title</key>
				<string>Toggl Time Tracking</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B4280A34-EBF1-4D4D-BAAE-5310D40C2F12</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your time entry was created</string>
				<key>title</key>
				<string>BAM!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F082C922-DEF3-445B-857D-EC6AD6F3ED75</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tgkey</string>
				<key>subtext</key>
				<string>Enter your toggl API KEY and hit Enter</string>
				<key>text</key>
				<string>Set your toggl API KEY</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>069BD230-B49B-495E-9906-2517ECEE6D52</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your API KEY for Toggl was saved</string>
				<key>title</key>
				<string>Saved API KEY</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F387EF65-25CD-41D3-A1FD-31C062DF0AB2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python toggl.py --setkey "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C5C1F716-7FF0-4561-AC79-93F98B216E52</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tgkey</string>
				<key>subtext</key>
				<string>Look for the API token field on Toggl profile page</string>
				<key>text</key>
				<string>Get API KEY from Toggl Website</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A1C31C79-1D85-4391-975E-71F44E6E3A2A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://www.toggl.com/app/profile</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>63B7118D-23F4-4575-94EC-E35E6D0AEADF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>069BD230-B49B-495E-9906-2517ECEE6D52</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>63B7118D-23F4-4575-94EC-E35E6D0AEADF</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>9CE58C59-79A5-419A-A323-EA3A31962E7B</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>A1C31C79-1D85-4391-975E-71F44E6E3A2A</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>B4280A34-EBF1-4D4D-BAAE-5310D40C2F12</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>C5C1F716-7FF0-4561-AC79-93F98B216E52</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>F082C922-DEF3-445B-857D-EC6AD6F3ED75</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>F387EF65-25CD-41D3-A1FD-31C062DF0AB2</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
